<web-app>
  <servlet>
    <servlet-name>Pet</servlet-name>
    <servlet-class>com.petshop.servlets.Pet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pet</servlet-name>
    <url-pattern>/Pet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Tutor</servlet-name>
    <servlet-class>com.petshop.servlets.Tutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tutor</servlet-name>
    <url-pattern>/Tutor</url-pattern>
  </servlet-mapping>
</web-app>

